* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: sans-serif; background-color: #f9f9f9; padding: 20px; }


.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
}


.container {
    display: flex;
    background-color: white;
    border: 1px solid #ddd;
    min-height: 500px;
}


.profile-card {
    width: 30%;
    padding: 40px;
    border-right: 1px solid #eee;
    text-align: center;
}

.profile-title { font-size: 50px; font-family: serif; margin-bottom: 20px; }
.profile-info p { margin-bottom: 10px; font-size: 14px; }


.content-area {
    width: 70%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.info-group {
    width: 50%;
    margin-bottom: 30px;
    padding-right: 20px;
}

.info-group h3 { margin-bottom: 10px; }
hr { border: 0.5px solid #ccc; margin-bottom: 15px; }
.info-group p { font-size: 13px; line-height: 1.8; color: #444; }